.slider h3,
.slider h5{
	text-shadow: 3px 3px 3px black;
}
.about{
	padding-top: 5px;
}
.parallax-container{
	height: 400px;
}
.parallax img{
	filter: grayscale(1);
	opacity: 1 !important;
}
.col img{
	height: 220px;
	padding-top: 50px;
}
.material-icons{
	padding: 1px 0px;
}
section{
	padding: 20px 0px;
}
footer{
	padding: 10px 0px;
}

.box{
	width: 300px;
	height: 400px;
	border-radius: 10px;
	position: relative;
	background: #DED9C4;
	transform-style: preserve-3d;
}

.tombol{
	position: absolute;
	bottom: 0;
	left: 50%;
	background: #9D5C0D;
	transform: translate3d(-50%, 0,100px);
}
.mobil{
	position: absolute;
	top: 30%;
	left: 50%;
	transform: translate3d(-50%, -50%, 90px);
	transition: 0.5s;
	
}

.mobil:hover{
	transform: translate3d(-50%, -50%, 90px) scale(1.2) rotate(-10deg);
}

.row{
	margin-top: 50px;
}
